*{margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Hanken Grotesk", sans-serif; 
color: white;
}

:root{
    --fontprincipal: #12131A;
    --fontcard:#1C1F2A;
    --textprincipal:#F2F2F7;
    --cardviolet:#B4B7C9;
    --cardnarange:#FFB21E;
    --cardcoral:#FF8A65;
    --barrasprogres:#D19BFF;
    --bordersutil:#2A2D3A;
}
section{
    background-color: var(--fontcard);
    padding: 20px;
    margin: 50px auto;
    width: 600px;
}
img{background-color: #FFB21E;
    width: 50px;}

    .header{
      display: flex;
      justify-content: space-between;
      
    }
    .title{background-color:salmon;
    width:30px;}




